<div class="main-content">
    <div class="row">
        <div class="col-md-6 new-content">
            <h2>Top Articles</h2>
            <br>
            <div id="articles">
                {{#each articles}}
                <p>
                    <span class="article-title" data-id="{{this._id}}"><strong>{{this.title}}</strong></span><br>
                    {{!-- <a href="{{this.link}}" target="_blank">Read More</a> --}}
                    <span class="article-summary">{{this.summary}}</span>
                    <a href="{{this.link}}" target="_blank">READ MORE</a>
                    <button class="save" data-id="{{this._id}}">SAVE</button>
                    {{!-- <div class="box"><iframe src="{{this.link}}" width="100%" height="500px"></iframe></div> --}}
                    

                </p>
                {{/each}}
            </div>
        </div>
        <div class="col-md-2"></div>
        
    </div>


</div>